.title {
  color: black;
}
.btn.submitbutton{
  margin-top: 5px;
  background-color: #2DCC70;
  border-color: #2DCC70;
}
.btn.submitbutton:hover{
  margin-top: 5px;
  background-color: #27AE61;
  border-color: #27AE61;

}

#classes {
  text-align: center;
  font-size: 16px;
  display: none;
}

#addclasse {
  text-align: center;
  font-size: 16px;
  display: none;
}

#stats {
  display: none;
}

#setAlumnesDiv {
  text-align: center;
  font-size: 16px;
  display: none;
}

#terms {
  width: 25%;
  margin-right: 2%;
}

#offset {
  text-align: center;
  width: 10%;
  margin-right: 5%;
}

.well {
  background-color: #98E2D5;
  border-color: #98E2D5;
  border-radius: 0%;
}

body {
  background-color: #F3F0CD;
}

div {
  margin: 3px;
}

.btn {
  background-color: #1CBB9B;
  border-color: #1CBB9B;
  color:white;
}

.btn:hover{
  background-color: #16A086;
  border-color: #16A086;
}

#description {
  margin-top: 30px;
  padding-top: 0px;
}
